/*
dev.mode
 */
@import "_mixins.scss";


html, body {
  height: 100%;
}

body {
  margin: 0 !important;
  display: flex;
}

* {
  box-shadow: none !important;
}

.minus-margin {
    margin: -1%;
    overflow: hidden;
}

.welcome-button {
  width: calc(100% - 15px) !important;
}

/*
Variables
 */

$blue: #008fc3;
$light_blue: #55c0e9;
$light-light-blue: #b8d8ea;
$dark_blue: #002e6d;
$white: #FFFFFF;

/*
  VcA-Colors
*/

$vca-primary-light: #b8d8ea;
$vca-secondary-color: #55c0e9;
$vca-secondary-darker: #03558c;
$vca-red: #e50846;
$vca-green: #45b7a9;
$vca-yellow: #ffe500;
$vca-orange: #ff5522;
